/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body{
	background-color: #ffffff;


}
header{
	display: none;
	text-align: center;
}
@media screen and (min-width: 769px){
	header{
		display: inline;
		text-align: center;
	}
}
header h1{
	padding: 10px 0 3px 0;
	color: #ffffff;
	background-color: #ffa600
}

footer{
	/* display: inline-block; */
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	color: #aaaaaa;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
}
#wrapper{
	width: 100%;
}
@media screen and (min-width: 769px){
	#wrapper{
		margin: 0 auto;
		width: 40%;
	}

}
.login_contain,
.signup_contain,
.lostpass_contain{
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;
	text-align: center;
}
.lang-list,
.username,
.password,
.repassword,
.username-lostpass{
	height: 50px;
	margin: 10px 30px;
}
.repassword img{
	opacity: 0;
}
form img{
	padding: 0 5px 0 0;
	width: 30px;
	height: 80%;
}
form label[for="language"] img{
	padding: 0 5px 0 0
}
form input[type="email"],
form input[type="password"]{
	width: 85%;
	height: 35px;
	border: 1px solid #2191b3;
	font-size: 1.2rem;
	vertical-align: top;
}
form select[name="fromLanguage"]{
	width: 85%;
	height: 35px;
	border: 1px solid #2191b3;
	font-size: 1.2rem;
	vertical-align: top;
}
.wrongmassge{
	height: 20px;
	margin: 0;
	padding: 3px 0;
	color: #dd4848;
}
.wrongmassge .worngoff{
	display: none;
}
.wrongmassge .worngon{
	animation: fadein 1s;
}
@keyframes fadein {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
form input[type="submit"]{
	width: 80%;
	margin: 0 0 0 0;
	padding: 10px 50px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffffff;
	background-color: #00c3ff;
}
form .id_overlep{
	margin: 0 auto;
	width: 80%;
}

form .id_overlep input{
	position: relative;
	top: -10px;
	display: block;
	padding: 5px 10px;
	color: #ffffff;
	margin-right: 0;
	margin-left: auto;
	border: 1px solid #2191b3;
	font-size: 1rem;
	background-color: #3498DB;


}
form .remember{
	margin: 5px auto;
	width: 80%;
	text-align: left;
	color: #505050;
}
a:link,
a:visited,
a:hover{
	color: rgb(131, 131, 131);
	text-decoration: none;
}
.guest{
	margin: 8px auto 30px auto;
	width: 80%;
	text-align: center;
}

.lostpass{
	margin: 8px auto 0 auto;
	width: 80%;
	text-align: center;
}
.line{
	margin: 50px auto 30px auto;
	width: 90%;
	border: 1px solid #aaaaaa;
}
.signup{
	width: 80%;
	margin: 50px auto 0 auto;
	border: 1px solid #00c3ff;
	text-align: center;
}
.signup a{
	display: inline-block;
	word-spacing: -4px;
	padding: 10px 50px;
	font-size: 2rem;
	color: #00c3ff;
}
/* menu top position */
.section_top{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #ffa600;
}
.select_menu button{
	position: absolute;
	bottom: 0;
	left: 0;
}
.exchange{
	position: absolute;
	bottom: 5px;
	right: 85px;
}
.personal{
	position: absolute;
	bottom: -3px;
	right: 20px;
}
/* img size */
.exchange img{
	height: 20px;
}
.personal img{
	height: 40px;
}
/* drop down */
.dropbtn{
	height: 100%;
	padding: 0 16px;
	font-size: 1.5rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	background-color: #3498DB;
	color: white;
}
.dropbtn:hover, .dropbtn:focus{
	background-color: rgb(83, 165, 219);

}
.menu_dropdown{
	z-index: 10;
	display: none;
	position: absolute;
	overflow: auto;
	top: 50px;
	background-color: #3498DB;
}
.menu_dropdown a{
	display: block;
	padding: 10px 40px 10px 20px;
	border-bottom: 1px solid #ffffff41;
	font-size: 1.5rem;
	color: #ffffff;
}
.menu_dropdown a:hover{
	background-color: #ffa600;
}
.show{
	display: block;
}
.exchange .box{
	align-items: center;
	height: 20px;
	padding: 5px;
	border-radius: 20px;
	background-color: #ff7b00;
}

.exchange .lang_left{
	float: left;
	padding: 0 5px;
	color: #ffffff;
	font-weight: bold;
}
.exchange .lang_right{
	float: right;
	padding: 0 5px;
	color: #ffffff;
	font-weight: bold;
}
.exchange img{
	padding: 0 5px;
	color: #ffffff;
	font-weight: bold;
}
/* word */
.words_contain{
	margin: 30px auto 0 auto;
}
.words_part{
	width: 70%;
	margin: 30px auto;
}
.words_part p{
	display: inline-block;
	padding: 5px 20px;
	border-radius: 30px;
	color: #353d46;
	background-color: #dfdfdf;

}
.words_word{
	margin: 50px auto;
	text-align: center;
}
.words_word h2{
	color: #616161;
	font-size: 3rem;
}
/* anser */
.anser_contain{
	margin: 30px auto;
	text-align: center;
	font-size: 1.5rem;
	/* 2019 11 16 클릭가능하게 뎁스 수정 ↓ */
	position: relative;
	z-index: 0;
	/* 2019 11 16 클릭가능하게 뎁스 수정 ↑ */
}
.anser_contain .anser{
	display: inline;
}
.anser_contain p{
	padding: 10px 0;
	color: #ffffff;
	background-color: #81c6ff;
	border-bottom: 1px solid #4faefc;
}
/* .anser_contain p:hover{
	background-color: #81c6ff85;
} */
.anser_contain .anserWorng{
	color: #ffffff73;
	background-color: #8686863a;
	pointer-events: none;

	border-bottom: 1px solid #7070702d;
	animation: fadein 1s;
}
@keyframes fadein {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.hint_contain{
	display: none;
}
/* 2019 11 16 틀린 답 클릭시 아이콘 추가 ↓ */
/* wrong_icon */
.wrong_icon{
	position: relative;
	pointer-events: none;
	margin: -130% auto;
	padding: 30px;
	opacity: 0;
}
@keyframes fadeout {
	0%{
		opacity: 0;
		left: 0px;

	}
	10%{
		opacity: 0.9;
		left: 10px;
	}
	20%{
		left: 30px;
	}
	30%{
		left: -10px;

	}
	40%{
		left: 30px;
	}
	50%{
		left: -10px;

	}
	60%{
		opacity: 0.9;
		left: 30px;

	}
	70%{
		left: -5px;

	}
	100%{
		opacity: 0;
		left: -10px;
	}
}
@media screen and (min-width: 769px){
	.wrong_icon{
		position: relative;
		pointer-events: none;
		margin: -100% auto;
		padding: 100px;
		opacity: 0;
	}
}
.pleaseSignup{
	width: 100%;
	height: 100%;
	padding: 50% 0;
	color: #ffffff;
	position: fixed;
	top: 100%;
	background: #00c3ffe7;
}
@keyframes up{
	0%{
		top: 100%
	}
	100%{
		top: 0%
	}
}
.pleaseSignup p{
	text-align: center;
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ffffff2a;
	font-size: 3rem;
	background-color: #00c3ff;
}
.finshed{
	width: 100%;
	height: 100%;
	padding: 50% 0;
	color: #ffffff;
	position: fixed;
	background: #00c3ff;
}
.finshed p{
	text-align: center;
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ffffff2a;
	font-size: 3rem;
	background-color: #00c3ff;
}

/* 2019 11 16 틀린 답 클릭시 아이콘 추가 ↑ */

