/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    background-color: #ffffff;


}
header{
    display: none;
    text-align: center;
}
@media screen and (min-width: 769px){
    header{
        display: inline;
        text-align: center;
    }
}

header h1{
    padding: 10px 0 3px 0;
    color: #ffffff;
    background-color: #ffa600
}
footer{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    color: #aaaaaa;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
}
#wrapper{

    width: 100%;
}
@media screen and (min-width: 769px){
    #wrapper{
        margin: 0 auto;
        width: 40%;
    }
}

/* nav */
nav{
    position: relative;
    height: 50px;
    background-color: #ffa600;
}
nav ul{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 5px;
}
nav ul li{
    display: inline-block;
    margin: 0 0;
    padding: 10px 15px 0 15px;
    border-radius: 20px 20px 0 0;
    font-size: 1.3rem;
    list-style: none;
    background-color: rgb(255, 255, 255);
}
nav ul li a, a:link, a:hover, a:visited{
    color: #3498DB;
    text-decoration: none;
    font-weight: bold;
}
.nav_back a{
    float: right;
    background-color: #3498DB;

}
.nav_back img{
    display: block;
    padding: 5px 10px;
    height: 2.5rem;
}
/* ability */
.ability_contain{
    height: 30%;
    width: 100%;
}
.ability_contain .ability{
    width: 80%;
    margin: 30% auto;
    padding: 10px 30px;
    text-align: center;
    border: 3px solid rgba(52, 152, 219, 0.281);
}
.ability_contain .ability_text{
    padding: 0 10px 0 0;
    color: #ffa600;
    font-size: 4rem;
}
.ability_contain p{
    color: #747474;
    font-size: 3rem;
}
/* graph */
.section_graph{
    width: 100%;
}
.graph_contain{
    position: relative;
    margin: 5px auto;
    width: 100%;
    height: 200px;
    font-weight: bold;
    color: #3498DB;
}
.graph_name{
    padding: 5px 20px;
    margin: 10px 0;
    display: block;
    color: #ffffff;
    background-color: #3498DB;
}
.graph_back{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    width: 85%;
    height: 70%;
    border-left: 1px solid #3498DB;
    border-bottom: 1px solid #3498DB;

}
.graph_words,
.graph_range{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
}
.words_left{
    float: left;
    margin: 0 0 0 30px;
}
.words_right{
    float: right;
    margin: 0 30px 0 0;
}
.graph_range{
    text-align: center;
}
/* tag */
.tags_contain{
    margin: 0 auto 50px auto;
    width: 90%;
}
.tags_contain form{
    position: relative;
    margin: 3px auto;
    border: 3px solid #d8d8d8;
}
.tags_contain input[type="text"]{
    height: 100%;
    width: 70%;
    padding: 10px 0 10px 20px;
    color: #747474;
}
.tags_contain .addBtn{
    padding: 10px 10px;
    color: #ffffff;
    background-color: #3498DB;
    position: absolute;
    right: 0;
    top: 0;

}

.tags_contain .tags_list span{
    padding: 5px 20px;
    color: #ffffff;
    background-color: #3498DB;

}
.tags_list ul li {
    position: relative;
    list-style-type: none;
    margin: 0 0 2px 0;
    padding: 5px 0 0 20px;
    height: 30px;
    font-size: 1.3rem;
    color: #747474;
    background-color: #e6e6e6;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;

}


/* personal */
.section_lang_list{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.lang-list{
    margin: 5px 0;
}
.lang-list select[name="prefecture"]{
    width: 100%;
    height: 35px;
    border: 1px solid #2191b3;
    font: 1.5rem;
    font-size: 1.2rem;
    vertical-align: top;
}

.section_change_pass .id_email{
    height: 30px;
    padding: 10px 0;
    text-align: center;
    color: rgb(100, 100, 100);
    background-color: #b0e6ff;
    font-size: 1.2rem;
}
.section_change_pass form{
    margin: 30px auto;
    width: 90%;
}
.section_change_pass input[type="password"]{
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;

    font-size: 1.2rem;
    border: 1px solid rgb(144, 184, 211);
}
.section_change_pass input[type="submit"]{
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;

    font-size: 1.5rem;
    color: #ffffff;
    background-color: #3498DB;

}
.section_del_account .del_account{
    margin: 30px auto;
    width: 90%;
}
.section_del_account input[type="button"]{
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    border: 1px solid #3498DB;
    font-size: 1.5rem;
    color: #3498DB;
    background-color: #ffffff;

}

