<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
                layout:decorator="layouts/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billy Words Test Sign Up</title>
    <link rel="stylesheet" href="/css/commmon.css">
</head>
<body>

    <div id="wrapper" layout:fragment="content">
        <section>
            <form class="signup_contain" action="/words-test/guest">
                <div class="lang-list">
                    <label for="language"><img src="../images/svg/lang.svg" alt="" height="50"></label>
                    <select onchange="optSelValue()" name="prefecture" id="language" autofocus required>
                        <option value="Check overlap ID">Your language</option>
                        <option value="SA">AR السعودية</option>
                        <option value="BN">IN বাঙালি</option>
                        <option value="CH">CH 中国</option>
                        <option value="DE">DE Deutschland</option>
                        <option value="ES">ES Español</option>
                        <option value="FR">FR France</option>
                        <option value="IN">HI हिन्दी</option>
                        <option value="IT">IT Italia</option>
                        <option value="JP">JP 日本</option>
                        <option value="ID">JV Basa Jawa</option>
                        <option value="KR">KO 대한민국</option>
                        <option value="PT">PT Português</option>
                        <option value="RU">RU Pусский</option>
                        <option value="VN">VN Việt</option>
                    </select>
                </div>
                <div class="submit">
                    <input type="submit" value="Start">
                </div>
            </form>
        </section>
    </div>

    <script src="/js/countryCode.js"></script>
</body>
</html>