<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billy Words Test</title>
    <link rel="stylesheet" href="/css/commmon.css">
</head>
<body>
<header>
    <h1>Billy Words Test</h1>
</header>
<div class="url" id="url-billyWordsTest"></div>

<div id="wrapper" layout:fragment="content">
    <section>
        <div class="finshed" >
            <a href="#;"><p>FINSHED.</p></a>
        </div>
    </section>
</div>

<footer>
    <p>by SJS 2019</p>
</footer>
</body>
</html>